<?xml version="1.0" encoding="UTF-8"?>

      <Event>
         <eventid>ID1</eventid>
         <tweet>
            <text>This is some tweet in my day</text>
            <location>
               <lat>999</lat>
               <long>999</long>
            </location>
            <datetimestamp>datetimestamp</datetimestamp>
         </tweet>
      </Event>
      <Event>
         <eventid>ID2</eventid>
         <facebook-status-update>
            <text>This is some status update in my day</text>
            <location>
               <lat>999</lat>
               <long>999</long>
            </location>
            <datetimestamp>datetimestamp</datetimestamp>
         </facebook-status-update>
      </Event>
      <Event>
         <eventid>ID3</eventid>
         <photo>
            <filepath>/photos/image.jpg</filepath>
            <location>
               <lat>999</lat>
               <long>999</long>
            </location>
         </photo>
      </Event>
      <Event>
         <eventid>ID4</eventid>
         <video>
            <filepath>/videos/film.mp4</filepath>
            <location>
               <lat>999</lat>
               <long>999</long>
            </location>
            <start-time>
               <datetimestamp>datetimestamp</datetimestamp>
            </start-time>
            <end-time>
               <datetimestamp>datetimestamp</datetimestamp>
            </end-time>
         </video>
      </Event>
      <Event>
         <eventid>ID4</eventid>
         <tracklog>
            <filepath>/tracklog/track.gpx</filepath>
            <data>.</data>
            <start-time>
               <datetimestamp>datetimestamp</datetimestamp>
            </start-time>
            <end-time>
               <datetimestamp>datetimestamp</datetimestamp>
            </end-time>
         </tracklog>
      </Event>
